
{% extends 'layout.html' %}

{% block body %}
{% load static %}


{% for i in article %}
    
<div id="CarDetailPage" >
    <div class="row">
        <div class="col-md-8">
            <h1> <span>{{i.make}} - {{i.model}}</span></h1>
            <img src="{{ i.pic.url }}" class="img">
        </div>
        <div class="col-md-4">
            <h3><span><span>Fiyat: </span> {{i.price}} TL</span></h3>
            <hr>
            <h3><span><span>Bayi: </span>{{i.author}}</span></h3>
            <h3><span><span>Yıl: </span> {{i.year}}</span></h3>
            <h3><span><span>Vites: </span> {{i.transmission}}</span></h3>
            <h3><span><span>Yakıt: </span> {{i.fuelType}}</span></h3>
            <h3><span><span>Kasa: </span> {{i.bodyType}}</span></h3>
            <h3><span><span>Motor: </span> {{i.engine}}</span></h3>
            <h3><span><span>Paket: </span> {{i.variant}}</span></h3>
        </div>
        
       
    </div>
   
</div>
{% endfor %}
    
{% endblock body %}
    