{% extends 'layout.html' %}

{% block body %}
{% load static %}

<div id="CarList" class="row">
    <div class="col-9">
        <h5>En son gelenler</h5>
        <hr>
        <div class="row">
            
            {% for article in articles %}
            <div class="col-md-4">
                <div class="CarPic">
                {% if article.pic %}
                <img src="{{article.pic.url}}" class="img-thumbnail" alt="">
                {% else %}
                <img src="../static/img/favicon.jpg" class="img-thumbnail" alt="">
                    
                {% endif %}
                </div>
                <div class="spesific">
                    <h5>{{article.make}} {{article.model}}</h5>
                    
                    <ul>
                        <li><span>{{article.year}}</span></li>
                        <li><span>{{article.transmission}}</span></li>
                        <li><span>{{article.fuelType}}</span></li>
                    </ul>
                    <br>
                    <hr>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div id="Filter" class="col-3">
        <h5>Filtrele</h5>
        <hr>
    </div>
</div>
    
{% endblock body %}
    