{% extends 'layout.html' %}


{% block body %}
{% load crispy_forms_tags %}
<form method="post" class="mt-3" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="offset-4 col-md-4">
            {{form.media}}
            {{form|crispy}}
        </div>
        
    </div>
    <div class="row">
        <div class="offset-4 col-md-4">
            <button type = "submit" class = "btn btn-danger">Gönder</button>
        </div>
    </div>
    
</form>
    
{% endblock body %}
    