{% extends 'layout.html' %}


{% block body %}
{% load static %}

<div id="DashMain" >
    <div class="row">
        <div class="col-md-8">
            <div class="Fp">
                <div class="row">
                    
                    {% if replies %}
                    {% for reply in replies %}
                    <div class="col-md-2">
                        
                        {% if reply.isDone == False %}
                        <div class="Contact" style="border: solid 2px #1479FF;">
                            <div class="row">
                                <img src="{% static 'img/Contact.svg' %}" height="30px" alt="">
                            </div>
                            <div class="row">
                                <p class="ShowSubject" data-message="{{reply.subject}}">{{reply.nameSurname}}</p>
                                
                            </div>
                            <div class="row">
                                {% if reply.phone %}
                                <span href="">Telefon </span>
                                {% else %}
                                <span href="">Mail </span>
                                {% endif %}
                            </div>
                            <div class="row">
                                <a href="{% url 'article:updateContact' reply.id %}">Detay</a>
                            </div>
                        </div>
                        
                        {% else %}
                        <div class="Contact" style="border: solid 2px #1479FF;">
                            <div class="row">
                                <img src="{% static 'img/Contact.svg' %}" height="30px" alt="">
                            </div>
                            <div class="row">
                                <p class="ShowSubject" data-message="{{reply.subject}}">{{reply.nameSurname}}</p>
                            </div>
                            <div class="row">
                                {% if reply.phone %}
                                <span href="">Telefon </span>
                                {% else %}
                                <span href="">Mail </span>
                                {% endif %}
                            </div>
                            <div class="row">
                                <a href="{% url 'article:updateContact' reply.id %}">Detay</a>
                            </div>
                        </div>

                        {% endif %}
                            
                        
                    </div>



                    {% endfor %}
                    <script>
                        $('.ShowSubject').click(function(){
                            var data = $(this).attr("data-message")
                            alert(data)
                        })
                    </script>
                    {% else %}
                    <p style="width: 100%;text-align: center;padding-top: 30px;font-weight: bold;">Yeni Mesaj Yok</p>
                    {% endif %}
                        
                    
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="Fp" >
                <a href="{% url 'article:createCar' %}" class="btn btn-primary my-1">Mesajlar</a>
                <a href="{% url 'article:createCar' %}" class="btn btn-dark my-1">Araç Ekle</a>
                <a href="{% url 'article:createCar' %}" class="btn btn-dark my-1">Araçlar</a>
                <a href="{% url 'article:createCar' %}" class="btn btn-dark my-1">Satılan Araçlar</a>
            </div>
        </div>
        
       
    </div>
</div>


{% endblock body %}