{% extends 'layout.html' %}


{% block body %}
<p>Hoşgeldiniz: {{request.user}}</p>
<a href="{% url 'article:createCar' %}" class="btn btn-danger my-2">Yeni Ekle</a>



<div class="row">
    
    {% if user.is_superuser %}

    <div class="col-lg-8">
        {% include 'includes/dashtable.html' %}
    </div>
    <div class="col-lg-4">
        <table class="table table-light">
            <thead >
                <tr>
                    <td>İsim</td>
                    <td>Detay</td>
                    <td>Tarih</td>
                </tr>
            </thead>
            <tbody>

                {% for message in replies %}
                {% if message.isDone == False %}
                <tr class="table-danger">
                    <td><a class="ma" data-message="{{message.subject}}">{{message.nameSurname}}</a></td>
                    <td><a href="{% url 'article:updateContact' message.id %}">Git</a></td>
                    <td>{{message.date |date:"Y-m-d"}}</td>
                </tr>
                {% else %}
                <tr class="table-success">
                    <td><a class="ma" data-message="{{message.subject}}">{{message.nameSurname}}</a></td>
                    <td><a href="{% url 'article:updateContact' message.id %}">Git</a></td>
                    <td>{{message.date |date:"Y-m-d"}}</td>

                </tr>
                {% endif %}

                {% endfor %}

                <script>
                    $('.ma').click(function () {
                        var data = $(this).attr("data-message")
                        alert(data)
                    })
                </script>
            </tbody>
        </table>
    </div>
    {% else %}
    {% include 'includes/dashtable.html' %}
        
    {% endif %}
        
</div>



{% endblock body %}