@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,500&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

table{
    font-size: 14px;
}


nav{
    position: relative;
    width: 100%;
    height: 100px;
    padding: 0px 15%;
    color: white;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    overflow: hidden;
    box-shadow: rgba(42, 52, 61, 0.16) 0px 4px 8px 0px;
    
}
nav > a{
    line-height: 100px;
    font-family: 'Pacifico', cursive;
    font-size: 40px;
    color: black;
    text-decoration: underline rgb(76, 149, 245);
    transition-timing-function: ease-in-out;
    transition-duration: 0.4s;

}
nav > a > span{
    color: rgb(76, 149, 245) ;
    text-decoration: underline black;
    transition-timing-function: ease-in-out;
    transition-duration: 0.4s;
}

nav > a:hover{
    color: rgb(76, 149, 245);
    text-decoration: underline black;
}
nav > a:hover> span{
    color: black;
    text-decoration:underline rgb(76, 149, 245);
}
nav > ul {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    list-style: none;
    float: right;
    margin: auto 0px auto auto;
}
nav > ul > li {
    float: right;
    margin-left: 40px;
    justify-content: center;
}
nav > ul > li:hover{

}
nav > ul > li > a {
    font-size: 16px;
    width: 100%;
    display: inline-block;
    color: #1773cf;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}
nav > ul > li > a:hover{
    color: tomato;
    text-decoration: none;
}
@media only screen and (max-width: 1100px) {
    nav{
        padding: 0px 5%;
        
    }
    nav > ul > li {
        float: right;
        margin-left: 20px;
        justify-content: center;
    }
    nav > ul > li > a{
        font-size: 14px;
    }
  }
@media only screen and (max-width: 600px) {
    nav > ul > li {
        float: none;
        
    }
  }
@media only screen and (max-width: 769px) {
    #Landing > div:nth-of-type(2){
        margin-top: 10px;
    }
  }


#Landing{
    font-family: 'Poppins', sans-serif;
    min-height: calc(100vh - 100px);
    width: 100%;
    background-color: #1773cf;
    color: white;
    padding: 20px 5% 20px 10%;
    

    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
#Landing > div:nth-of-type(1){
    line-height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;

}
#Landing > div:nth-of-type(1)>h4{
    font-size: 40px;
    
    font-weight: bold;
}
#Landing > div:nth-of-type(2){
    display: flex;
    justify-content: center;
    align-items: center;
}



#quickfind {

    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: rgba(255, 255, 255, 0);
    border: 5px solid white;
    border-radius: 7px;
    width: 300px;
    height: 100px;
    outline: none;
    border: 1px solid white;
    transition-timing-function: ease-in-out;
    transition-duration: 0.4s;
    text-align: center;
    line-height: 100px;

}
#quickfind:hover{
    background-color: white;
    color: #1773cf;
    text-decoration: none;
}


#Filter{
    font-size: 12px;
    background-color: #F7F7F7;
    width: 100%;
    padding: 20px;
    font-family: 'Ubuntu Mono', monospace;
}
#Filter  h5 {
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;

}
#Filter  p {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;

}
#CarList{
    padding: 0px 10%;
    
}
.spesific{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    min-height: 300px;
    padding: 20px;
    background-color: #F7F7F7;
}

.CarPic{
    height: 200px;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.CarPic > div {
    border-radius: 7px 0px 0px 7px;
    font-family: 'Poppins', sans-serif;
    width: 120px;
    height: 40px;
    background-color:  #1773cfaf;
    margin-left: calc(100% - 125px);
    margin-top: 140px;
    z-index: 50;
    position: absolute;
    color: white;
    text-align: center;
    line-height: 40px;
}
.CarPic img {
    width: 100%;
    height: 100%;
}

.spesific > h5 {
    font-weight: bold;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
.spesific > ul {
    
    width: 100%;
    list-style: none;
    margin-bottom: 30px;
}
.spesific > ul span{
    font-size: 14px;
}
.spesific > ul > li {
    text-align: center;
    width: calc(100% / 3);
    float: left;
}


#CarDetailPage{
    background-image: url(../img/detail.jpg);
    min-height: calc(100vh - 100px);
    width: 100%;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover; 
    padding: 50px 10%;
}
#CarDetailPage hr{
    color: white;
    background-color: white;
    border: 1px solid white;
    margin: 30px 0px;
}
#CarDetailPage img{
    width: 100%;
}

#CarDetailPage h1{
    width: 100%;
    text-align: start;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin-top: 10px;
    
}

#CarDetailPage h1 > span{
    border-radius: 15px;
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.253); 
    background-size: cover;
}

#CarDetailPage h3{
    text-align: end;
    margin-bottom: 20px;
    max-height: 44px;
    overflow: visible;
}
#CarDetailPage h3 > span{
    text-align: end;
    font-size: 18px;
    color: white;
    border-radius: 3px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.253); 
}
#CarDetailPage h3 > span > span{
    font-weight: lighter;
}
@media only screen and (max-width: 1300px) {
    #CarDetailPage {
        padding: 50px 5%;
        
    }
  }
  @media only screen and (max-width: 767px) {
    #CarDetailPage {
        padding: 50px 5%;
        
    }
    #CarDetailPage h3 {
        text-align: center;
    }
  }




/* İletişim de adın üstüne gelince */
.ma:hover{
    cursor: pointer;
}

#DashMain{
    width: 100%;
    min-height: calc(100vh - 100px);
    background-color: #E6F1FF;
    /*0background-color: #1773cf;*/
    padding: 50px 10% 0px 10%;
}
#DashMain > .row > div {
    padding: 10px;
}
#DashMain > .row  .Fp {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    min-height: 230px;
}
#DashMain > .row  .Fp a{
    width: 100%;

}
#DashMain > .row  .Fp > .row > div{
    padding:0px 10px;
    
}
.Contact{
    border-radius: 10px;
    
    height: 200px;
    box-shadow: 0px 2px 30px 1px  #4b98fd3d;
    font-size: 14px;
    overflow: hidden;
}
.Contact img{
    margin-top: 40px;
    width: 100%;

}
.Contact p {
    margin-top: 25px;
    width: 100%;
    text-align: center;
    transition-timing-function: ease-in-out;
    transition-duration: 0.4s;
}
.Contact a {
    margin-top: 5px;
    width: 100%;
    text-align: center;
    transition-timing-function: ease-in-out;
    transition-duration: 0.4s;
}
.Contact p:hover{
    cursor: pointer;
    font-size: 16px;
}

.Contact span{
    width: 100%;
    text-align: center;
    color: #434547a6;
}